# 敏感配置
config.json

# 账号数据
accounts.json
username.json

# OAuth Token
tokens/
data/

# 依赖dangeou
node_modules/

# 日志 & 临时文件
*.log
.env
.env.*
.history
.config.json
.accounts.json
cli-proxy-api/
test/
.ace-tool/
.claude